@{
    ViewData["Title"] = "Deliver";
}
<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />


<div class="container">
    <div class="header-line">
        

        <div class="header-content">
            <div class="header-down">
                <div class="header-main">
                    <h1 class="header-title">Ready for a delectable feast?</h1>
                    <p class="header-subtitle">We are delighted that you have visited your favorite food delivery website.</p>
                    <p class="header-suptitle">Indulge in the flavors that await you and have your order delivered to your doorstep.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="header-down">
        <h1 class="header-title">Our Special Orders Just For You</h1>
        <div class="special-orders">
            <div class="card">
                <p>Delivery the exquisite taste of our carefully crafted dishes.</p>
            </div>

            <div class="card">
                <p>Explore why we stand out as the preferred choice for reliable and fast delivery services.</p>
            </div>

            <div class="card">
                <p>Hear what our satisfied customers have to say about our top-notch products and services.</p>
            </div>
        </div>
    </div>

</div>

