@model List<UserViewModel>
<link rel="stylesheet" href="~/css/displayusers.css" asp-append-version="true" />
<h2>User Information</h2>

<table>
    <thead>
        <tr>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td class="data">@user.Email</td>
                <td class="data">@user.FirstName</td>
                <td class="data">@user.LastName</td>
            </tr>
        }
    </tbody>
</table>
