@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<link rel="stylesheet" href="~/css/loginregistratecreateedit.css" asp-append-version="true" />
<h3>@ViewData["Title"]</h3>
<div class="containerr">
<h1>Please check your email to reset your password.</h1>
</div>