@page
@using AspnetIdentityRoleBasedTutorial.Areas.Identity.Pages.Account;
@model RegisterModel

@{
    ViewData["Title"] = "Register";
}
<link rel="stylesheet" href="~/css/loginregistratecreateedit.css" asp-append-version="true" />

<div class="containerr">
    <div class="logi">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account. Don't wait !</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form">
                <div class="group">
                    <label asp-for="Input.FirstName">FirstName</label>
                    <input asp-for="Input.FirstName" class="form-control" aria-required="true" placeholder="FirstName" />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="group">
                    <label asp-for="Input.LastName">LastName</label>
                    <input asp-for="Input.LastName" class="form-control" aria-required="true" placeholder="LastName" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div class="group">
                    <label asp-for="Input.Email">Email</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="group">
                    <label asp-for="Input.Password">Password</label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="group">
                    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="confirmpassword" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="checkbox mb-2">
                <label class="form-check-label">
                    <input asp-for="Input.AssignRole" class="form-check-input" />
                    I am deliverer
                </label>
                <button id="registerSubmit" type="submit" class="buttonlogi">Register</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
