@model Kursova.Models.Asortimet

@{
    ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="~/css/loginregistratecreateedit.css" asp-append-version="true" />

<body>
    <div class="containerr">
        <div class="logi">
<h2>Edit</h2>
    <form asp-action="Edit" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form">
                    <div class="group">
                        <label asp-for="Image" class="control-label"></label>
            <input name="imageFile" type="file" class="form-control" accept=".jpg, .jpeg, .png" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
                    <div class="group">
                        <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
                    <div class="group">
                        <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
                    <div class="group">
                        <label asp-for="Cost" class="control-label"></label>
            <input asp-for="Cost" class="form-control" />
            <span asp-validation-for="Cost" class="text-danger"></span>
        </div>
                    <div class="group">
                        <label asp-for="CategoryId" class="control-label"></label>
            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <div>
                        <button id="login-submit" type="submit" class="buttonlogi">Save</button>
        </div>
                    <div class="back">
                        <a asp-controller="Asortiment" asp-action="Asortiment">Back to List</a>
                    </div>
        </div>
    </form>
</div>
</div>
</body>