@{
    ViewData["Title"] = "About us";
}
<link rel="stylesheet" href="~/css/aboutus.css" asp-append-version="true" />
<div class="container">
    <div id="about-us-content">
        <h3> Do you want to know more about us? Well, let's start! </h3>
        <h4>
            So, about us:
        </h4>
        <p>We have been working for more than 5 years, during this time we have become stronger and made almost 100,000 people happy. Can you imagine?!</p>
        <ul>
            <li>
                Main purpose:
                <ul>
                    <li>To provide our customers with high-quality delivery and excellent service.</li>
                    <li>It is delicious to feed, and most importantly, quickly.</li>
                    <li>We do for people as for ourselves, because you are our everything.</li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                Service:
                <ul>
                    <li>Thanks to our wide network of partners and our own vehicles, we provide fast express delivery throughout the city and its surroundings.</li>
                    <li>Our couriers always rush to you to deliver what you want at the agreed time.</li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                Team:
                <ul>
                    <li>Our team consists of professional and dedicated specialists who strive to provide the highest level of service. </li>
                    <li>We pride ourselves on helping our customers relax and enjoy life by providing delicious meals.</li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                Feedback :
                <ul>
                    <li>We are always open to cooperation and ready to answer all your questions.</li>
                    <li>Our phone number is located on the main page of the site (but we are open until 10:00 p.m.).</li>
                </ul>
            </li>
        </ul>
    </div>
</div>