body {
    background-color: black;
}

.packages .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

    .packages .box-container .box {
        text-align: center;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 10px;
        border-radius: .3rem;
        letter-spacing: 1px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        overflow: hidden;
        min-height: 10px;
        max-width: 700px;
        box-shadow: 0 10px 50px #000;
    }

        .packages .box-container .box .image {
            height: 90%;
            width: 90%;
            padding: 1.5rem;
            position: relative;
        }

            .packages .box-container .box .image img {
                height: 90%;
                width: 90%;
                object-fit: cover;
                border-radius: .3rem;
            }

        .packages .box-container .box .content {
            padding: 1rem;
            padding-top: 0;
        }

            .packages .box-container .box .content .price {
                font-weight: 400;
                color: var(--text-color-1);
                font-size: 2rem;
            }

            .packages .box-container .box .content p {
                font-size: 1rem;
                padding: .3rem 0;
                color: var(--text-color-2);
                line-height: 1;
            }


.table-bordered img {
    max-width: 100px;
    height: auto;
}

.btn {
    padding: .1rem 0.5rem;
    font-size: 1rem;
}

.input-group {
    align-items: center;
}

.fixed-width-input {
    width: 50%;
}

.form-control {
    max-width: 200px;
    margin-top: 50px;
}

.form-select {
    margin-top: 50px;
}

.ll {
    margin-top: 30px;
}

.lll {
    margin-top: 60px;
}
.llll {
    margin-top: 60px;
}
.col-13 {
    margin-bottom: -30px;
}

@media (max-width: 767px) {
    .box {
        margin-bottom: 20px;
    }

    .content {
        padding: 10px;
    }

    .vud {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .price {
        font-size: 16px;
    }

    .ordering {
        font-size: 14px;
    }

    .image {
        position: relative;
        overflow: hidden;
        height: 200px;
    }

        .image img {
            width: 100%;
            height: auto;
        }

    .form-control {
        max-width: 200px;
        margin-top: 0px;
    }

    .form-select {
        max-width: 200px;
        margin-top: 0px;
    }

    .col-12 {
        order: -2;
    }

    .col-13 {
        order: -2;
    }

    .ll {
        order: 0;
        margin-top: -52px;
        margin-left: 205px;
    }

    .lll {
        order: 0;
        margin-left: 20px;
        margin-top: 0px;
    }
    .llll {
        margin-top: 0px;
        margin-left: -110px;
    }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
    .ll {
        order: 0;
        margin-top: -52px;
        margin-left: 205px;
    }
}
    @media (min-width: 768px) and (max-width: 991px) {
        .image {
            position: relative;
            overflow: hidden;
            height: 200px;
        }

        .my-2 {
            flex-direction: row;
            align-items: center;
        }

            .my-2 > * {
                margin-right: 10px;
            }

        .image img {
            width: 100%;
            height: 50px;
        }

        .content {
            padding: 10px;
        }

        .vud {
            font-size: 16px;
            margin-bottom: 5px;
        }

        .price {
            font-size: 16px;
        }

        .form-control {
            max-width: 200px;
            margin-top: 0px;
        }

        .form-select {
            max-width: 200px;
            margin-top: 0px;
        }

        .ll {
            order: 0;
            margin-top: -52px;
            margin-left: 205px;
        }

        .lll {
            order: 0;
            margin-top: 0px;
        }
        .llll {
            order: 0;
            margin-top: 0px;
        }
    }

    .small-button {
        max-width: 200px;
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }

    .small-button-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .recipe {
        background-color: antiquewhite;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border: 2px solid #f2f2f2;
        border-radius: 8px;
        overflow: hidden;
        padding: 16px 32px;
        flex: 4 1 40ch;
    }

    .recipe-tags {
        margin: 0 -8px;
    }

    .recipe-tag {
        display: inline-block;
        margin: 8px;
        font-size: .875em;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: .02em;
        color: black;
    }


    .recipe-title {
        margin: 0;
        font-size: clamp(1.4em, 2.1vw, 2.1em);
        font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
        transition: color 0.3s ease; 
    }

        .recipe-title:hover {
            color: #36e70e; 
        }


    .pizza-box {
        flex: 3 1 30ch;
        height: calc(282px + 5vw);
        overflow: hidden;
    }

    .recipe-content {
        padding: 16px 32px;
        flex: 4 1 40ch;
        color: black;
    }

    img {
        width: 100px;
        height: 80px;
        object-fit: cover;
        object-position: 50% 50%;
    }

    .pizza-box img {
        width: 100%; 
        height: 350px; 
        object-fit: cover; 
    }

    .recipe-save {
        display: flex;
        align-items: center;
        padding: 10px 20px; 
        border-radius: 4px;
        border: 2px solid currentColor;
        color: black; 
        background-color: coral;
        cursor: pointer;
        font-weight: bold;
        font-size: 1.2rem; 
    }

        .recipe-save:hover {
            letter-spacing: .2rem;
        }

    a {
        color: #fff;
        text-decoration: none;
        font-weight: 600;
        font-size: 14px;
        margin-right: 20px;
        transition: color 0.3s linear;
    }

        a:hover {
            color: #36e70e;
        }