
body {
    background-color: black;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

.cart-container {
    width: 90%;
    margin: auto;
    overflow-y: auto; 
}

.cart-title {
    color: #2c3e50;
}

.header-title {
    color: white;
    text-align: center;
}

.order-block {
    background-color: #3A5A40;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    overflow-y: auto; 
    position: relative;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px; 
}

th, td {
    padding: 10px;
    text-align: left;
    background-color: #3A5A40; 
    color: #fff; 
}

th {
    background-color: #588157;
}

.product-image {
    width: 80px;
    height: 100px;
    object-fit: cover;
}

.no-image {
    color: #777;
}

.action-buttons a {
    display: inline-block;
    margin-right: 5px;
    color: #fff;
    background-color: #A7C957;
    text-decoration: none;
}

    .action-buttons a:hover {
        color: white;
        background-color: #6A994E;
    }

.total-title {
    margin-top: 20px;
    color: #A7C957;
}

.total-amount {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #27ae60;
}

.checkout-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

    .checkout-button a:hover {
        background-color: #2980b9;
    }

.empty-cart {
    margin-top: 20px;
    color: #e74c3c;
}

h4 {
    color: white;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .order-block {
        width: 100%; 
        float: none; 
        margin-right: 0; 
    }
}
