body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.d-none.d-sm-table-cell {
    display: none !important;
}

.nav {
    display: flex;
    gap: 10px; 
}


main {
    role: main;
}

.register {
    display: block;
    margin-top: 50px;
}

#logoutForm {
    margin-left: auto; 
}

#login, #register {
    margin-right: 10px; 
}
